/*------------------------
  1カラムトップページ
------------------------*/
 /* 1カラムにする */

/* ブログ記事エリア */
.page-index #wrapper {
    float: none;
    border: none; /* お好みでborderを消す */
    margin-right: 0;
    padding-right: 0;
}

.page-index #main {
  float: none;
  width: 100%;
}

/* サイドバーエリア */
.page-index #box2 {
    float: none;
    width: auto;
}

.page-index #box2-inner {
    border: none; /* お好みでborderを消す */
    margin-left: 0;
    padding-left: 0;
}

.page-index .entry-content .toppage ul {
    padding: 0;
    color: #444;
    border: none;
}


/*
カラム操作
*/
* {  
  margin:0;
  padding:0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

#item-list {
  background:#ccc;
  padding:20px 10px 0 10px;
  margin-bottom:20px;
}

#item-list ul{
  margin-left:-20px;/１カラムのpadding分マイナスマージン*/
  overflow:hidden;
  background-color:transparent;
}

#item-list ul li {
  list-style-type:none;
  float:left; /*floatで横並びに*/
  padding-left:20px;/*カラム間のガター*/
  margin-bottom:20px;
  text-align:center;
}

ul.cols-1 li {width: 100%;}
ul.cols-2 li {width: 50%;}
ul.cols-3 li {width: 33.33333%;}
ul.cols-4 li {width: 25%;}
ul.cols-5 li {width: 20%;}
ul.cols-6 li {width: 16.66666%;}
ul.cols-7 li {width: 14.28571%;}
ul.cols-8 li {width: 12.5%;}

.inner{ /*カラムの内側*/
  margin:0;
  height:100%;
  background:white;
}

@media only screen and (max-width: 767px) {
  ul.cols-4 li,ul.cols-5 li,ul.cols-6 li,ul.cols-7 li,ul.cols-8 li{
      width: 33%;/*４列以上は３列に*/
  }
  ul.cols-3 li{
      width:50%;/*３列は２列に*/
  } 
}

@media only screen and (max-width: 479px) {
  ul[class*='cols-'] > li{
    width: 100%;/*すべてを１列に*/
  }
}
